<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.harrys.delivcious">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/splash"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.example.com"
                    android:pathPrefix="/gizmos"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".KSD"
            android:label="@string/ksd"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OtoBento"
            android:label="@string/oto"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DuensaKitchen"
            android:label="@string/duensa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FoodMarket"
            android:label="@string/foodm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".YummyDelivery"
            android:label="Yummy Delivery"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>